
<p>crudfm works!</p>

<!--
<div class="col-md-6 offset-md-3">
    <h3>Extra Info</h3>
    <form (ngSubmit) ="onSubmit()" method = 'post'>
        <div class ="form-group">
            <label>ID</label>
            <input type="text" class="form-control" id="id"
            [(ngModel)] = "details.id" name = "id">
        </div>
        <div class ="form-group">
            <label>Nationality</label>
            <input type="text" class="form-control" id="nationality"
            [(ngModel)] = "details.nationality" name = "nationality">
        </div>
        <div class ="form-group">
            <label>Profession</label>
            <input type="text" class="form-control" id="profession"
            [(ngModel)] = "details.profession" name = "profession">
        </div>
        <div class ="form-group">
            <label>Salary Per Annum</label>
            <input type="text" class="form-control" id="salary"
            [(ngModel)] = "details.salary" name = "salary">
        </div>
        <button class = "btn btn-success" type ="submit">Submit</button>
    </form>
    </div>

-->