<p>edit works!</p>
<div class="container mt-5">
    <h2>{{header}}</h2>

    <form (ngSubmit) ="onSubmit(f)" #f="ngForm" method = 'post'>
        <div class ="form-group">
            <label for="">ID</label>
            <input type="text" class="form-control" id="id"
            [(ngModel)] = "detail.id" name = "id">
        </div>
        <div class ="form-group">
            <label for="">Nationality</label>
            <input type="text" class="form-control" id="nationality"
            [(ngModel)] = "detail.nationality" name = "nationality">
        </div>
        <div class ="form-group">
            <label for="">Profession</label>
            <input type="text" class="form-control" id="profession"
            [(ngModel)] = "detail.profession" name = "profession">
        </div>
        <div class ="form-group">
            <label for="">Salary Per Annum</label>
            <input type="text" class="form-control" id="salary"
            [(ngModel)] = "detail.salary" name = "salary">
        </div>
        <button class = "btn btn-success" type ="submit">Save</button>
    </form>
</div>
